.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 15, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.modal-content {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 6fr;
  width: 90%;
  padding: 20px;
  color: white;

  padding: 20px 40px 20px 40px;
}

.champion-info {
  padding-left: 40px;
}

.champion-name {
  font-family: "Cinzel", serif;
  font-size: 40px;
  font-weight: 900;
  color: rgb(147, 115, 65);
  text-shadow: 4px 2px 6px rgba(0, 0, 0, 0.9);
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

.champion-img {
  height: fit-content;
  border-radius: 10px;
  object-fit: cover;
}

.skills {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.skills img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid rgb(147, 115, 65);
  cursor: pointer;
}

.skills .skill-active {
  border: 5px solid rgb(147, 115, 65);
  box-shadow: 0 0 15px rgba(255, 193, 7, 0.4);
  scale: 125%;
}

.barstat-skilldetail {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 22px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #facc15;
  background: linear-gradient(145deg, #111827, #1f2937);
  color: #facc15;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4),
    inset 0 1px 2px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
}

.close-button:hover {
  background: linear-gradient(145deg, #facc15, #eab308);
  color: #1f2937;
  transform: scale(1.15) rotate(2deg);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5), inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
