.productDetailContainer {
  margin-top: 85px;
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 2rem;
  padding: 4rem 6rem;
  background: radial-gradient(circle at top center, #2a2a2a 0%, #121212 100%);
  color: #ffffff;
  min-height: 87vh;
  font-family: "Roboto", sans-serif;
}

.productImageSection img {
  width: 500px;
  height: auto;
  border-radius: 16px;
  object-fit: cover;
  padding: 40px;
  background: linear-gradient(135deg, #3a1c71, #d76d77, #ffaf7b);
}

.productInfoSection {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.productInfoSection h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0 0 5px #ff9900;
}

.price {
  color: #f97316;
  font-size: 2rem;

  margin-bottom: 20px;
}

.description {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  color: #dddddd;
}

.quantityControl {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 50px;
}
.quantityControl p {
  font-size: 20px;
  margin-right: 35px;
  font-weight: 600;
  color: #ffa500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.quantityControl button {
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #e65c00;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.quantityControl button:hover {
  background-color: #e67600;
}

.quantityControl span {
  font-size: 1.25rem;
  font-weight: 500;
  min-width: 30px;
  text-align: center;
  color: #fff;
}

.buyButton {
  background: linear-gradient(90deg, #ff8c00, #ff5e00);
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 14px 28px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(255, 94, 0, 0.4);
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 400px;
}

.buyButton:hover {
  background-color: #ff9800;
  transform: translateY(-2px);
}

.sizeSection {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sizeSection p {
  font-size: 20px;
  margin-right: 20px;
  font-weight: 600;
  color: #ffa500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sizeList {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.sizeButton {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #1e1e1e;
  color: #fff;
  cursor: pointer;
  transition: all 0.1s ease;
}

.sizeButton:hover {
  background-color: #333;
}

.activeSize {
  background-color: #f97316;
  color: white;
  border-color: #f97316;
}
