.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* hoặc 100vh nếu cần full screen */
}

.loading-spinner {
  width: 60px;
  height: 60px;
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
