.option {
  position: relative;
}

.sort-container {
  position: relative;
}

.sort-options {
  position: absolute;
  top: 50px;
  width: 200px;
  background-color: #111;
}

.sort-option {
  padding: 20px 20px;
  text-transform: uppercase;
}

.sort-option:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
